<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net45" />
  <package id="Google.Apis" version="1.21.0" targetFramework="net451" />
  <package id="Google.Apis.Auth" version="1.21.0" targetFramework="net451" />
  <package id="Google.Apis.Core" version="1.21.0" targetFramework="net451" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net45" />
  <package id="Grpc" version="1.11.0" targetFramework="net451" />
  <package id="Grpc.Auth" version="1.11.0" targetFramework="net451" />
  <package id="Grpc.Core" version="1.11.0" targetFramework="net451" />
  <package id="Grpc.Tools" version="1.11.0" targetFramework="net451" />
  <package id="libsodium-net" version="0.10.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net451" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.1" targetFramework="net451" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net451" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net451" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net451" />
</packages>
